{
  "extends": [
    "airbnb-base"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "html"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/extensions": [
      "error",
      {
        "js": "never",
        "vue": "never"
      }
    ],
    "import/no-unresolved": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off"
  },
  "globals": {
    "require": true,
    "__dirname": true
  }
}
