@import "../../var";

.zeus-base-list {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  .weui-cells {
    margin-top: 0;
  }
}

.zeus-search-list,
.zeus-search-group-list{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.zeus-group-list {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
