$primary-white-color: #fff;
$primary-black-color: #141414;

$default-font-color: #000;

$default-background-color: #fcf9fe;

$default-success-color: #00c203;
$default-error-color: #ef0d33;

$default-gray-color: #efeff4;
$default-gray1-color: #cecece;
$default-gray2-color: #c7c7cc;
$default-gray3-color: #b2b2b2;
$default-gray4-color: #999;
$default-gray5-color: #888;

$default-border: 1px solid #d9d9d9;

$large-font-size: 18px;
$middle-font-size: 16px;
$default-font-size: 14px;
$small-font-size: 12px;

$default-icon-size: 16px;
$small-icon-size: 12px;

$default-box-shadow:  0 4px 10px 0 rgba($primary-black-color, 0.08);
